GLFW_ICON ICON "assets/exeicon.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
	    VALUE "CompanyName", "SylvainStak"
      VALUE "FileDescription", "Collection of arcade games built with raylib"
      VALUE "FileVersion", "1.0.0"
      VALUE "InternalName", "arcade_collection"
      VALUE "LegalCopyright", "(c) 2024 Sylvain Afonso (@SylvainStak)"
      VALUE "ProductName", "Arcade Collection"
      VALUE "ProductVersion", "1.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
